
  <!-- <button routerLink='/questionAnswers' color= 'primary' class="btn" mat-raised-button>Ask Question</button>
  <button routerLink='/notes' color= 'primary' class="btn" mat-raised-button>Notes</button> -->
  <div class="home" >

		<!-- Hero Slider -->

		<div class="hero_slider_container">

			<div class="hero_slider owl-carousel">


				<!-- Hero Slide -->
				<div class="hero_slide">

          <div class="hero_slide_background" style="background-image:url(https://nimbletech.org/images/slide1.jpg)"></div>

					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<!-- <div class="home_content">
              <h1>
                <a  class="typewrite" data-period="2000" data-type='[ "Welcome to prepNotes !", "Build Creative Notes with us.", "Ask Questions & Get Solutions.", "prepNotes is your new study buddy." ]'>
                <span class="wrap"></span>
                </a>
              </h1>
            </div> -->
            <div class="buttons">
              <div class="container">
                <div class="row">
                  <div class="col" style="padding-left: 131px;">
                    <div class="buttons_container">
                      <div class="button button_color_1 text-center trans_200"><a routerLink='/questionAnswers'>Ask questions</a></div>
                      <div class="button button_color_1 text-center trans_200"><a routerLink='/notes'>Generate Notes</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
					</div>
				</div>



			</div>
		</div>

	</div>

