<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" style="top:140px; width: 100%;">
    <mat-card-header>
      <mat-card-title style="font-size:26px">Password Reset</mat-card-title>
    </mat-card-header>
    <mat-error *ngIf='errorMailSending'>Error in sending Password Reset mail</mat-error>
    <form class="example-form" [formGroup] = 'form' (submit) ='onSubmit()'>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName = email>
          <mat-error *ngIf="form.get('email').invalid">Enter a valid Email</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Send Password Reset Mail</button>
    </form>
  </mat-card>
</div>

